<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <title>{%block title%}{%endblock%}</title>
  </head>
  <body class="bg-dark text-light">
    

    {%block nav%}

     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand " href="/">Blogman</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">Write</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About us</a>
            </li>
            {%if request.user.is_anonymous%}
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            {%else%}
              <li class="nav-item">
                  <a class="nav-link" href="/profilepage">Profile</a>
              </li>
            {%endif%}

            <!-- <div style="align-self: left">
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div> -->
      </div>
          </ul>
          
          
        </div>
        
    </nav>
  {%endblock%}
  
{%block body%}
{%endblock%}

{%block footer%}
<div class="footer text-light bg-dark col-xs-1" align="center">Have fun</div>
{%endblock%}
  </body>


</html>