{%extends 'Base.html'%}

{%block title%}Homepage{%endblock%}

{%block body%}
<div class="container my-4">
	
	<label  class="form-label ">Share Something to the world</label>
	<hr>
	{% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
              <strong>{{ message }}</strong> 
            </div>
        {% endfor %}
    {% endif %}
	<div class="py-1 ">
	  <form method="POST" action="/blog">
	  	{% csrf_token %}
		  <textarea class="form-control" id="title" placeholder="Sunject title" name="title" rows="1" required="true"></textarea>
		  <textarea class="form-control" id="content" placeholder="Write Something" name="content" rows="10" required="true"></textarea>
		  <div class="dropdown">
			 	 <select class="form-select" aria-label="Default select example" name="genre">
				  <option selected>Select Type</option>
				  <option value="Science and Technology">Science and Technology</option>
				  <option value="Literature">Literature</option>
				  <option value="Action">Action</option>
				  <option value="Personal Expierence">Personal Expierence</option>
				</select>
			  <button type="submit" class="btn btn-primary">Post</button>
			</div>
	  </div>
	  
	</div>
</div>

{%endblock%}