{%extends 'Base.html'%}
{%block head%}
<script type="text/javascript">
	console.log("hello");
				// var contextdata = {{blog.content}};
				// var contextblog= document.getElementById('context');
				// contextblog.innerHTML = context;
</script>
{%endblock%}

{%block title%}Description{%endblock%}

{%block body%}
	<div class="container">
	<h3>Description</h3>
	<hr>
	
		{% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible" role="alert">
                  <strong>{{ message }}</strong> 
                </div>
            {% endfor %}
        {% endif %}
		
			<h4>{{blog.title}}- By {{author}}</h4>
			<h6>#{{blog.genre}}</h6>

			<p id ="context">
				{{blog.content}}
			</p>
			
			<h5>{{blog.date}}</h5>
			
			<hr>
			<script type="text/javascript">	
				var context= document.getElementById('context').innerHTML;
				context=context.replace(/&lt;/g, '<').replace(/&gt;/g, '>');
				document.getElementById('context').innerHTML=context;
			</script>
	</div>
	
{%endblock%}