{%extends 'Base.html'%}

{%block title%}Social-Homepage{%endblock%}

{%block body%}
	<div class="container">
		<h2>Homepage</h2>
		<hr>
		{% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible" role="alert">
                  <strong>{{ message }}</strong> 
                </div>
            {% endfor %}
        {% endif %}
		{%for blog in blogs%}
			<h4>{{blog.title}}- By {{blog.author}}</h4>
			<h6>#{{blog.genre}}</h6>
			<p>
				{{blog.content|slice:100}}..
			</p>
			
			<h5>{{blog.date}}</h5>
			<a href="#">read full blog</a>
			<hr>
		{%endfor%}
	</div>
	
{%endblock%}