{%extends 'Base.html'%}
{%load my_template_tag%}

{%block title%}Homepage{%endblock%}

{%block body%}
	<div class="container">
		
	
		<hr>
		{% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible" role="alert">
                  <strong>{{ message }}</strong> 
                </div>
            {% endfor %}
        {% endif %}


        <div class="row">
			<div class="col-sm px-5">
				<h2>Login</h2>
			
					<form class="my-3" method="POST" action="/login">
						{% csrf_token %}
						<label class="mb-1" for="username">Username: </label>
						<input class="form-control bg-dark text-light" type="text" name="username" placeholder="username" required="true"><br>
						<label class="mb-1" for="password">Password: </label>
						<input class="form-control bg-dark text-light" type="password" name="password" placeholder="password" required="true"><br>
						<button class="btn btn-primary my-1 " type="submit"> Login</button>
					</form>
					<p>Don't have an account? <a href="#">Sign up</a></p>
				
			</div>
			<div class="col-sm px-5">
				<h2>Signup</h2>
				<!-- <hr> -->
				
					<form class="my-3" method="POST" action="/signup">
						{% csrf_token %}
						<label class="mb-1" for="username">Username: </label>
						<input class=" form-control bg-dark text-light" type="text" name="username" placeholder="username" required="true"><br>
						<label class="mb-1" for="username">Email: </label>
						<input class="form-control bg-dark text-light" type="email" name="email" placeholder="example@host.com" required="true"><br>
						<label class="mb-1" for="password">Password: </label>
						<input class="form-control bg-dark text-light" type="password" name="password" placeholder="password" required="true"><br>
						<button class="btn btn-primary my-1 " type="submit"> Sign up</button>
					</form>
				
			</div>
		</div>


        

	</div>

{%endblock%}