{%extends 'Base.html'%}

{%block title%}Profile{%endblock%}


{%block body%}
	<div class="container">
		<h3>Hey {{request.user|capfirst}}..</h3>
		<a style="float: right" href="/logout">logout</a>
		<br>
		<center><h3> Your Blogs </h3></center>
		<hr>
		<div class="row">
			<div class="col-sm">
				<p>#Public</p>
				{%for blog in Public_blogs%}
					<div class="my-3">
						<h4>{{blog.title}}</h4>
						<h6>#{{blog.genre}}</h6>
						<h5>{{blog.date}}</h5>
						<a href="/desc/{{blog.id}}">read full blog</a>
						<hr>
					</div>
			
				{%endfor%}
			</div>
			<div class="col-sm">
				<p>#Private</p>
				{%for blog in Private_blogs%}
					<div class="my-3">
						<h4>{{blog.title}}</h4>
						<h6>#{{blog.genre}}</h6>
						<h5>{{blog.date}}</h5>
						<a href="/desc/{{blog.id}}">read full blog</a>
						<hr>
					</div>
				{%endfor%}
			</div>
		</div>
		
	</div>
{%endblock body%}